USE [master]
GO
/****** Object:  Database [PBL4]    Script Date: 10/16/2021 8:00:17 AM ******/
CREATE DATABASE [PBL4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PBL4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PBL4_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL4]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 10/16/2021 8:00:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[id_group] [nvarchar](50) NOT NULL,
	[name_group] [nvarchar](50) NOT NULL,
	[userId] [nvarchar](50) NOT NULL,
	[date_create] [nvarchar](50) NOT NULL,
	[des] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[id_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 10/16/2021 8:00:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[id_mes] [nvarchar](50) NOT NULL,
	[id_rel] [nvarchar](50) NOT NULL,
	[content_mes] [nvarchar](max) NOT NULL,
	[date_send] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[id_mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message_group]    Script Date: 10/16/2021 8:00:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message_group](
	[id_mesGroup] [nvarchar](50) NOT NULL,
	[id_sender] [nvarchar](50) NOT NULL,
	[id_group] [nvarchar](50) NOT NULL,
	[content_group] [nvarchar](max) NOT NULL,
	[date_sendGroup] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Message_group] PRIMARY KEY CLUSTERED 
(
	[id_mesGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/16/2021 8:00:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [nvarchar](50) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[isOnline] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_group]    Script Date: 10/16/2021 8:00:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_group](
	[id_userGroup] [nvarchar](50) NOT NULL,
	[id_member] [nvarchar](50) NOT NULL,
	[id_group] [nvarchar](50) NOT NULL,
	[date_join] [datetime] NOT NULL,
 CONSTRAINT [PK_User_group] PRIMARY KEY CLUSTERED 
(
	[id_userGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_relationship]    Script Date: 10/16/2021 8:00:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_relationship](
	[id_rel] [nvarchar](50) NOT NULL,
	[userId] [nvarchar](50) NOT NULL,
	[userId_receive] [nvarchar](50) NOT NULL,
	[relation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User_relationship] PRIMARY KEY CLUSTERED 
(
	[id_rel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_User]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User_relationship] FOREIGN KEY([id_rel])
REFERENCES [dbo].[User_relationship] ([id_rel])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User_relationship]
GO
ALTER TABLE [dbo].[Message_group]  WITH CHECK ADD  CONSTRAINT [FK_Message_group_Group] FOREIGN KEY([id_group])
REFERENCES [dbo].[Group] ([id_group])
GO
ALTER TABLE [dbo].[Message_group] CHECK CONSTRAINT [FK_Message_group_Group]
GO
ALTER TABLE [dbo].[User_group]  WITH CHECK ADD  CONSTRAINT [FK_User_group_Group] FOREIGN KEY([id_group])
REFERENCES [dbo].[Group] ([id_group])
GO
ALTER TABLE [dbo].[User_group] CHECK CONSTRAINT [FK_User_group_Group]
GO
ALTER TABLE [dbo].[User_relationship]  WITH CHECK ADD  CONSTRAINT [FK_User_relationship_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[User_relationship] CHECK CONSTRAINT [FK_User_relationship_User]
GO
USE [master]
GO
